<div class="item" ng-show="loaded">
	<!-- 日期分类 -->
	<div class="mark">{{date|date:'ddMMM'}}</div>
	<ul class="posts">
		<!-- 文章 -->
		<li ng-repeat="data in datas">
			<span href="javascript:;" class="tag" ng-if="data.column.name">{{data.column.name}}</span>
			<div class="cont">
				<h3>{{data.title}}</h3>
				<div class="brief">
					<p ng-class="{only:data.display_style == 10001}" ng-if="data.display_style != 10003">{{data.abstract}}</p>
					<div class="thumb" ng-if="data.display_style == 10002">
						<img ng-src="{{data.thumbs[0].small.url}}" alt="">
					</div>
					<div class="brief" ng-if="data.display_style == 10003">
						<div class="gallery">
							<div class="img-box" ng-repeat="img in data.thumbs">
								<img ng-src="{{img.small.url}}" alt="">
							</div>
						</div>
					</div>	
				</div>							
			</div>
		</li>
		<li>
			<span href="javascript:;" class="tag">去远方</span>
			<div class="cont">
				<h3>朝圣山南扎央宗--探索藏文化之源</h3>
				<div class="brief">
					<div class="gallery">
						<div class="img-box">
							<img src="./uploads/post_3.png" alt="">
						</div>
						<div class="img-box">
							<img src="./uploads/post_4.png" alt="">
						</div>
						<div class="img-box">
							<img src="./uploads/post_5.png" alt="">
						</div>
					</div>
				</div>							
			</div>
		</li>
		<li>
			<span href="javascript:;" class="tag">去远方</span>
			<div class="cont">
				<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h3>
				<div class="brief">
					<p>那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清</p>
					<div class="thumb">
						<img src="./uploads/post_1.png" alt="">
					</div>
				</div>							
			</div>
		</li>
	</ul>
</div>

